.logo-type {
  @extend .heading-1;
  @include circle-behind(1.5em);
  bottom: 0.05em;
  font-size: clamp(2rem, 4.8vw, 6rem);
  color: var(--color-body-text);
  letter-spacing: 0.05em;
  text-decoration: none;
  font-weight: 400;

  &::before {
    border: 0.13em solid;
    transform: translate(-52%, -53%);
  }

  &.change-color {
    color: var(--color-primary);
    @include scrollBasedAnimate(changetext);
    animation-delay: calc(var(--scroll) * -0.0009s);
  }
}