@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(0.1em);
  }
  30% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

.u-fadein {
  animation: fadein 1000ms ease-in forwards;
  opacity: 0;
}

.u-delay-1 {
  animation-delay: 1000ms;
}
.u-delay-2 {
  animation-delay: 1200ms;
}
.u-delay-3 {
  animation-delay: 1400ms;
}
.u-delay-4 {
  animation-delay: 1600ms;
}
.u-delay-5 {
  animation-delay: 1800ms;
}
.u-delay-6 {
  animation-delay: 2000ms;
}
.u-delay-7 {
  animation-delay: 2200ms;
}
.u-delay-8 {
  animation-delay: 2400ms;
}
.u-delay-9 {
  animation-delay: 2600ms;
}

.u-flex {
  display: flex;
  flex-flow: row wrap;
}

.u-block { display: block !important; }

.u-noWrap {
  flex-wrap: nowrap;
}

.u-alignItemsEnd {
  align-items: flex-end;
}

.u-posRelative {
  position: relative;
}

.u-ib {
  display: inline-block;
  width: auto;
}

.u-overlay {
  position: absolute;
  inset: 0;
  background: var(--whiteish);
}

.u-bg-color--primary {
  background: var(--color-primary);
}
.u-color-black {
  color: var(--blackish) !important;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@function toRem($value) {
    $remValue: calc(($value / 16)) + rem;
    @return $remValue;
}

.animated-blur {
  @include scrollBasedAnimate(blurText);
    animation-delay: calc(var(--scroll) * -0.0009s);
    animation-timing-function: ease-in;

}

@keyframes blurText {
  to { filter: blur(0.75rem); }
}


