:root {
  --blackish: #242420;
  --whiteish: #f9f0eb;
  --font-dark: var(--blackish);
  --font-sans: 'Bebas Neue', 'impact', sans-serif;
  --font-serif: 'zodiak', times, serif;

  --font-weight-bold: 640;
  --bringhurst: clamp(45ch, 50%, 75ch);
}

.colors-1 {
  --color-primary: #395a77;
  --color-secondary: #2f4639;
  --color-text: var(--whiteish);
  --color-body-text: var(--whiteish);
  --image-effect: screen;
}
.colors-2 {
  --color-primary: #c0e2e3;
  --color-secondary: #f0e7df;
  --color-text: #de4e40;
  --color-body-text: var(--blackish);
  --image-effect: multiply;
}
.colors-3 {
  --color-primary: #f1bfb1;
  --color-secondary: #b5d7cf;
  --color-text: var(--blackish);
  --color-body-text: var(--blackish);
  --image-effect: multiply;
}

.colors-4 {
  --color-primary: #fbbc00;
  --color-secondary: #fb6538;
  --color-text: var(--blackish);
  --color-body-text: var(--blackish);
  --image-effect: multiply;
}

@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin box($size) {
  width: $size;
  height: $size;
}

@mixin scrollBasedAnimate($keyframe) {
  animation: $keyframe 1s linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@mixin bringhurst {
  width: var(--bringhurst);
  max-width: 100%;
}

@mixin circle-behind($size: 2em, $color: transparent) {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    @include circle($size);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color;
  }
}
